body {
  width: 100%;
  font-size: 14px;
  line-height: 21px;
  font-family: "PTSans regular" verdana sans-serif;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}
.reason-title {
  font-weight: bold;
  font-size: 21px;
  font-family: "PTSans bold" verdana sans-serif;
  color: #000000;
  margin-bottom: 30px;
}

.reasons-title {
  font-weight: bold;
  font-size: 21px;
  font-family: "PTSans bold" verdana sans-serif;
  color: #000000;
  margin: 0;
  padding: 60px;
  margin-bottom: 30px;
}

.search-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  font-family: "PTSans bold" verdana sans-serif;
  color: #000000;
}

.main-container {
  width: 100%;
  min-width: 768px;
  max-width: 1200px;
  padding: 0 40px;
  background-color: #f2f2f2;
  margin: 0 auto;

}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*шапка начало*/
.main-header {
  position: relative;
  margin: 0;
  padding: 0 70px;
  background: #ffffff;
}

.main-navigation {
  width: 88%;
  margin: 0;
  padding: 0 6%;

}

.main-navigation ul {
  width: 100%;
  font-size: 0;
}

.main-navigation li {
  display: inline-block;
  font-size: 14px;
  color: #000000;
  line-height: 26px;
  margin-right: 60px;
}

.main-navigation a {
  display: block;
  padding: 15px 0;
}

.logo {
  position: absolute;
  left: 41%;
  top: -30px;
  z-index: 10;
}
/*конец шапки*/
/*начало index.html*/
.promo {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 300px;
  background: #ffffff;
    /*как высоту задать? */
}
.promo img {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}
/*как 3 картинки добавить? */
.reasons {
  background: #ffffff;
  margin: 0;
  padding: 0;

}

.reasons-header {
  width: 575px;
  padding: 0 auto;
  margin: 0 auto;
  line-height: 26px;

}

.reasons-row {
  margin: 0;
  padding: 0;
}

.reasons-row-image {
  background: #81b3d2;
  color: #ffffff;

}

.reasons-row:after {
  content: "";
  display: table;
  clear: both;
}

.reason {
  float: left;
  /*или надо задавать максимальную и минимальную ширину всей строке?*/
  min-width: 256px;
  max-width: 400px;
  width: 33.333333%;
  margin: 0;
  padding: 0;
  padding-top: 50px;
  padding-bottom: 40px;
}

.reason-picture {
  float: left;
  min-width: 512px;
  max-width: 800px;
  width: 66.666666%;
  margin: 0;
  padding: 0;
}

.reason-icon {
  /*если иконки будут спозиционированны абсолютно, то падинги будут такие*/
  padding-top: 164px;
  padding-bottom: 65px;
}

.reason-icon-home {

}

.reason-icon-food {

}

.reason-icon-gift {

}
/*2 селектора ниже, чтоб инвертировать флоаты в строках с картинками, но я им обоим прописал флоат влево*/
.reasons-row-image-invert .reason-picture {

}

.reasons-row-image-invert .reason {

}

.reasons-row-gray {
  background: #eeeeee;
}

.reason-number {
  margin-bottom: 30px;
}

.search {
  background: #ffffff;
  margin: 0;
  padding: 0;
  padding-top: 60px;
}



.search-btn {
  display: block;
  height: 85px;
  width: 575px;
  margin: 0 auto;
  color: #ffffff;
  background: #766357;
}

.map {
  background: url("img/map.jpg");

}

.form {
  width: 575px;
  margin: 0 auto;
  padding-top: 65px;
  padding-bottom: 55px;
  padding-left: 55px;
  padding-right: 55px;
  background-color: #ffffff;

}

.btn-submit {
  background: #81b3d2;
  color: #ffffff;
  width: 100%;
  height: 60px;
}
/*конец index.html*/
/*начало hotels.html*/
.filter-hotels {
  height: 215px;
  width: 88%;
  margin: 0;
  padding: 30px 6%;
  background: #4178a1 url("img/filter-bg.jpg") no-repeat center top;
  color: #ffffff;
  text-align: left;

}

.filter-hotels:after {
  content: "";
  display: table;
  clear: both;
}

.filter-col {
  float: left;
  width: 150px;
  margin-right: 30px;

}

.list-title {
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 30px;
}

#hotel {

}

.filter-range {
 float: right;
 width: 330px;
}

.range-controls {
  margin-bottom: 20px;
}

.sorting {
  background: #ffffff;
  width: 88%;
  margin: 0;
  margin-bottom: 1px;
  padding: 30px 6%;
}

.content-title {
  float: left;
  width: 20%;
  font-size: 21px;
  line-height: 26px;
  margin-right: 30px;
}

.sorting-type {
  float: left;
  width: 80%;
  font-size: 0;
}

.sorting-title {
  float: left;
  width: 80px;
  font-size: 12px;
  line-height: 18px;
  margin-right: 30px;
}

.sorting-items {
  float:left;
  width: 100%;
  font-size: 0;

}

.sorting-item {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  line-height: 18px;
  margin-right: 30px;
}

.sorting-abc {
  float: right;
  width: 35px;
}
.hotel {
  padding: 30px 0;
  background: #ffffff;
  margin-bottom: 1px;
  text-align: left;
}

.hotel-picture {
  float: left;
  width: 135px;
  margin-right: 30px;
}

.rating {
  float: right;
  width: 110px;
}


/*конец hotels.html*/
/*начало подвала*/
.main-footer {
  padding: 35px 6%;
  font-size: 0;
  background: #ffffff;
}

.main-footer-index {
  background: rgba(255, 255, 255, 0.8);
}

.hashtag {
  font-size: 14px;
  margin-right: 20px;
}
.social {
  display: inline-block;
  margin-right: 20px;
}

.social-btn {
  display: inline-block;
  font-size: 14px;
  width: 45px;
  height: 45px;
  margin-right: 5px;
}

.social-btn:last-child {
  margin-right: 0;
}

.author {
  display: inline-block;
  font-size: 14px;
}
/*отступы между тремя подразделами в футере в процентах задавать? если да, то как это считать*/
/*конец подвала*/
